---
layout: page
title: "404 Not Found"
permalink: /404
---

<div class="landing-container"
    style="padding: 200px 0; height: 80vh; display: flex; flex-direction: column; align-items: center;">
    <h1>404</h1>
    <h3 class="xs-mb">Aradığın sayfayı bulamadık</h3>
    <a href="/" class="border-button classic button" style="display: inline-table;">Anasayfaya Dön</a>
</div>