<section id="bottom-area">
    <div class="landing-container">
        <div class="bottom-left">© 2020 SimurgAI</div>
        <div class="bottom-center"></div>
        <div class="bottom-right">
            {% include social-links.html %}
        </div>
    </div>
</section>