<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>

    {% if page.excerpt %}
        <meta name="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
    {% else %}
        <meta name="description" content="{{ site.description }}">
    {% endif %}

    <meta name="title" content="SimurgAI Lab" />
    <meta name="description" content="SimurgAI Lab">
    <meta name="author" content="SimurgAI Lab">
    <meta name=”owner” content='SimurgAI Lab' />
    <meta name="copyright" content="(c) 2022" />
    <link rel="icon" href="/assets/img/favicon.ico" sizes="32x32" />

    
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!-- framework -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">