<header>
    <div class="landing-container">
        <div class="header-left">
            <a href="/" title="SimurgAI Lab HomePage" class="header-logo">
            </a>
            <div class="mobile-navbar">
                <a class="target-burger">
                    <ul class="buns">
                        <li class="bun"></li>
                        <li class="bun"></li>
                    </ul>
                </a>
                <nav class="main-nav" role="navigation">
                    <ul> 
                        {% for link in site.data.navigation %}
                            {% if link.url contains 'http' %}
                                {% assign domain = '' %}
                            {% else %}
                                {% assign domain = site.url %}
                            {% endif %}
                            
                            {% if link.title == 'Ürünler' %}
                                <li class="mobile-nav-dropdown">
                                    <div class="title">
                                        Ürünler
                                        <i class="angle down icon"></i>
                                    </div>
                                    <div class="content">
                                        <a href="http://www.dentiassist.com" class="dropdown-link denti-assist" target="_blank">DentiAssist</a>
                                    </div>
                                </li>
                            {% else %}
                                <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}><span>{{ link.title }}</span></a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header-right">
            <div class="header-nav">
                <nav>
                    {% for link in site.data.navigation %}
                        {% if link.url contains 'http' %}
                            {% assign domain = '' %}
                        {% else %}
                            {% assign domain = site.url %}
                        {% endif %}

                        {% if link.title == 'Ürünler' %}
                            <div class="nav-dropdown">
                                <a class="nav-link">
                                    Ürünler
                                    <i class="angle down icon"></i>
                                </a>
                                <div class="dropdown-content">
                                    <a href="#" class="dropdown-link denti-assist" target="_blank">
                                        <div class="page-content">
                                            <div class="title">DentiAssist</div>
                                            <div class="subtitle">Dental Radyografi Analizi</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            <a class="nav-link" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a>
                        {% endif %}
                    {% endfor %}
                </nav>
            </div>
        </div>
    </div>
</header>