<ul>
    {% if site.twitter %} <li><a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="twitter icon"></i></a></li>{% endif %}
    {% if site.linkedin %}<li><a href="https://www.linkedin.com/company/{{ site.linkedin }}/" target="_blank"><i class="linkedin in icon"></i></a></li>{% endif %}
    {% if site.instagram %}<li><a href="https://www.instagram.com/{{ site.instagram }}/" target="_blank"><i class="instagram icon"></i></a></li>{% endif %}
    {% if site.email %}<a href="mailto:{{ site.email }}" class="author-social" target="_blank"><i class="fa fa-2x fa-envelope-square"></i></a>{% endif %}
    {% if site.facebook %}<a href="http://facebook.com/{{ site.facebook }}" class="author-social" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>{% endif %}
    {% if site.google.plus %}<a href="http://plus.google.com/+{{ site.google.plus }}" class="author-social" target="_blank"><i class="fa fa-2x fa-google-plus-square"></i></a>{% endif %}
    {% if site.xing %}<a href="http://www.xing.com/profile/{{ site.xing }}" class="author-social" target="_blank"><i class="fa fa-2x fa-xing-square"></i></a>{% endif %}
    {% if site.tumblr %}<a href="http://{{ site.tumblr }}.tumblr.com" class="author-social" target="_blank"><i class="fa fa-2x fa-tumblr-square"></i></a>{% endif %}
    {% if site.github %}<a href="http://github.com/{{ site.github }}" class="author-social" target="_blank"><i class="fa fa-2x fa-github"></i></a>{% endif %}
    {% if site.stackoverflow %}<a href="http://stackoverflow.com/users/{{ site.stackoverflow }}" class="author-social" target="_blank"><i class="fa fa-2x fa-stack-overflow"></i></a>{% endif %}
    {% if site.lastfm %}<a href="http://lastfm.com/user/{{ site.lastfm }}" class="author-social" target="_blank"><i class="fa fa-2x fa-music"></i></a>{% endif %}
    {% if site.dribbble %}<a href="http://dribbble.com/{{ site.dribbble }}" class="author-social" target="_blank"><i class="fa fa-2x fa-dribbble"></i></a>{% endif %}
    {% if site.pinterest %}<a href="http://www.pinterest.com/{{ site.pinterest }}" class="author-social" target="_blank"><i class="fa fa-2x fa-pinterest"></i></a>{% endif %}
    {% if site.foursquare %}<a href="http://foursquare.com/{{ site.foursquare }}" class="author-social" target="_blank"><i class="fa fa-2x fa-foursquare"></i></a>{% endif %}
    {% if site.steam %}<a href="http://steamcommunity.com/id/{{ site.steam }}" class="author-social" target="_blank"><i class="fa fa-2x fa-steam-square"></i></a>{% endif %}
    {% if site.youtube %}<a href="https://youtube.com/user/{{ site.youtube }}" class="author-social" target="_blank"><i class="fa fa-2x fa-youtube-square"></i></a>{% endif %}
    {% if site.soundcloud %}<a href="http://soundcloud.com/{{ site.soundcloud }}" class="author-social" target="_blank"><i class="fa fa-2x fa-soundcloud"></i></a>{% endif %}
    {% if site.weibo %}<a href="http://www.weibo.com/{{ site.weibo }}" class="author-social" target="_blank"><i class="fa fa-2x fa-weibo"></i></a>{% endif %}
    {% if site.flickr %}<a href="http://www.flickr.com/{{ site.flickr }}" class="author-social" target="_blank"><i class="fa fa-2x fa-flickr"></i></a>{% endif %}
    {% if site.codepen %}<a href="http://codepen.io/{{ site.codepen }}" class="author-social" target="_blank"><i class="fa fa-2x fa-codepen"></i></a>{% endif %}
</ul>
