main{
    background-color: var(--white);
    color: var(--navyblue);
    &.about{
        #headline{
            position: relative;
            padding: 80px 0;
            background-color: var(--white);
            @media screen and (max-width: 1280px){
                padding: 150px 0 120px;
            }
            @media screen and (max-width: 768px){
                padding: 80px 0 80px;
            }
            @media screen and (max-width: 560px){
                padding: 100px 0 0;
            }
            .landing-container{
                height: 100%;
                margin-top: 60px;
                .headline-layout{
                    display: flex;
                    flex-direction: column;
                    .headline-content{
                        width: 80%;
                        margin: 0 auto;
                        @media screen and (max-width: 560px){
                            width: 100%;
                            padding: 0 10px;
                        }
                        p{
                            color: var(--silver);
                            line-height: 1.7;
                            font-size: 18px;
                            opacity: .8;
                            text-align: justify;
                        }
                    }
                }
            }
        }
        #values{
            position: relative;
            padding: 80px 0;
            text-align: left;
            background-color: #f9fbfe;
            @media screen and (max-width: 768px){
                padding: 60px 0;
            }
            .landing-container{
                display: flex;
                flex-direction: row;
                @media screen and (max-width: 768px){
                    flex-direction: column;
                }
                .values-left{
                    width: 50%;
                    padding-right: 20px;
                    @media screen and (max-width: 768px){
                        width: 100%;
                        padding: 0;
                        order: 2;
                        text-align: center;
                        br{
                            display: none;
                        }
                    }
                    p{
                        color: var(--silver);
                        font-size: 18px;
                        line-height: 1.8;
                        margin: 20px 0;
                        @media screen and (max-width: 560px){
                            font-size: 16px;
                        }
                    }
                    ul{
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        grid-gap: 10px 0;
                        @media screen and (max-width: 768px){
                            text-align: left;
                            width: 60%;
                            margin: 0 auto;
                        }
                        @media screen and (max-width: 560px){
                            width: 90%;
                        }
                        li{
                            font-size: 18px;
                            color: var(--silver);
                            i{
                                color: var(--green);
                            }
                        }
                    }
                }
                .values-right{
                    width: 50%;
                    text-align: center;
                    @media screen and (max-width: 768px){
                        width: 100%;
                        order: 1;
                        margin-bottom: 20px;
                    }
                    img{
                        width: auto;
                        height: 400px;
                        border-radius: 20px;
                        @media screen and (max-width: 560px){
                            width: 90%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}