main {
  background-color: var(--white);
  color: var(--navyblue);
  &.blog {
    .all-blog {
      position: relative;
      padding: 130px 0;
      background-color: var(--white);
      @media screen and (max-width: 1280px) {
        padding: 150px 0 120px;
      }
      @media screen and (max-width: 768px) {
        padding: 30px 0;
        margin-top: 100px;
      }
      @media screen and (max-width: 560px) {
        padding: 0;
        height: max-content;
      }
      & > p {
        color: var(--silver);
        font-size: 16px;
        width: 80%;
        margin: 0 auto;
      }
      .items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        @media screen and (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
        }
        @media screen and (max-width: 560px) {
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 20px;
        }
        &.last-items {
          grid-template-columns: repeat(2, 1fr);
          margin: 40px 0 30px;
          @media screen and (max-width: 768px) {
            margin: 20px 0;
          }
          @media screen and (max-width: 560px) {
            grid-template-columns: repeat(1, 1fr);
          }
          .content {
            .blog-info {
              width: 80%;
            }
          }
        }
        .item {
          position: relative;
          border-radius: 30px;
          overflow: hidden;
          .content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: var(--white);
            .category {
              display: none;
              position: absolute;
              left: 3rem;
              top: 3rem;
              background-color: var(--white);
              border-radius: 15px;
              padding: 4px 12px;
              color: var(--green);
              font-size: 14px;
              font-weight: 500;
              @media screen and (max-width: 1280px) {
                top: 2rem;
                left: 2rem;
              }
            }
            .blog-info {
              position: absolute;
              bottom: 3rem;
              left: 3rem;
              right: 3rem;
              text-align: left;
              @media screen and (max-width: 1280px) {
                bottom: 2rem;
                left: 2rem;
                right: 2rem;
              }
              .name {
                width: 100%;
                margin-bottom: 1.5rem;
              }
              .author {
                display: flex;
                flex-direction: row;
                align-items: center;
                img {
                  height: 42px;
                  width: 42px;
                  border-radius: 100%;
                  margin-right: 10px;
                }
                .author-info {
                  display: flex;
                  flex-direction: column;
                  .author-name {
                    font-size: 16px;
                    font-weight: 600;
                  }
                  .author-job {
                    color: var(--silver);
                  }
                }
              }
            }
            .date {
              position: absolute;
              right: 3rem;
              bottom: 3rem;
              font-size: 16px;
              font-weight: 600;
              opacity: 0.5;
              color: var(--silver);
              @media screen and (max-width: 1280px) {
                top: 2rem;
                right: 2rem;
              }
            }
          }
          img {
            width: 100%;
          }
          &:hover {
            .content {
              .blog-info {
                transition: 0.2s;
                transform: translateY(-10px);
              }
            }
          }
          &:before {
            content: "";
            position: absolute;
            top: 0;
            border-radius: 16px 16px 0 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-size: cover;
            background: linear-gradient(180deg, transparent, #000);
          }
        }
      }
      &:after {
        content: "";
        border: 1px solid var(--silver);
        opacity: 0.05;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 1292px;
        margin: 0 auto;
        @media screen and (max-width: 768px) {
          margin: 0 2rem;
        }
      }
    }
  }
}
