main {
  background-color: var(--white);
  color: var(--navyblue);
  min-height: 100%;
  &.blog-detail {
    & > .landing-container {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 180px 0 90px;
      background-color: var(--white);
      @media screen and (max-width: 1280px) {
        padding: 150px 0 120px;
      }
      @media screen and (max-width: 768px) {
        padding: 60px 0;
        margin-top: 100px;
      }
      @media screen and (max-width: 560px) {
        padding: 30px 0;
      }
      h2 {
        width: 70%;
        margin: 0 auto 50px;
        @media screen and (max-width: 560px) {
          font-size: 32px;
          width: 95%;
        }
      }
      .blog-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        width: 80%;
        margin: 0 auto;
        @media screen and (max-width: 768px) {
          width: 90%;
        }
        @media screen and (max-width: 560px) {
          flex-direction: column;
          align-items: flex-start;
          width: 95%;
        }
        .user-info {
          display: flex;
          flex-direction: row;
          align-items: center;
          img {
            border-radius: 50%;
            width: 42px;
            height: 42px;
          }
          .author-info {
            display: flex;
            flex-direction: column;
            text-align: left;
            padding-left: 10px;
            line-height: 1;
            .name {
              font-size: 18px;
              font-weight: 600;
            }
            .title {
              font-size: 16px;
              color: var(--silver);
              padding-top: 8px;
            }
          }
        }
        .date-area {
          font-size: 16px;
          color: var(--silver);
          @media screen and (max-width: 560px) {
            padding-left: 52px;
            margin-top: 10px;
          }
        }
      }
      .blog-content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        font-size: 18px;
        color: var(--silver);
        text-align: justify;
        @media screen and (max-width: 768px) {
          width: 90%;
        }
        a {
          color: var(--blue);
        }
        h2,
        h3,
        h4,
        h5 {
          color: var(--navyblue);
        }
        h5 {
          @media screen and (max-width: 560px) {
            font-size: 16px;
          }
        }
        h3,
        h4,
        h5,
        blockquote,
        ol,
        p {
          text-align: left;
          width: 100%;
        }
        blockquote {
          p {
            margin-top: 0;
          }
        }
        & > ul {
          display: flex;
          flex-direction: column;
          text-align: left;
          margin: 10px 0;
          width: 100%;
          &.disc {
            list-style: disc;
          }
          &.arrow {
            list-style: disclosure-closed;
          }
          li {
            margin-bottom: 4px;
            strong {
              margin-right: 6px;
            }
            a {
              color: var(--blue);
            }
          }
        }
        img {
          max-width: 100%;
          margin: 20px 0;
          max-height: 500px;
          margin: 20px auto 0;
          @media screen and (max-width: 768px) {
            height: auto;
            width: 100%;
          }
        }
        .img-sub {
          font-size: 16px;
          margin: 10px 0;
          font-style: italic;
        }
        strong {
          font-weight: bolder;
        }
        p {
          text-indent: 30px;
          line-height: 1.6;
          margin-top: 20px;
        }
      }
      .blog-references {
        margin-top: 50px;
        color: var(--silver);
        font-size: 16px;
        @media screen and (max-width: 768px) {
          width: 90%;
          margin: 50px auto 0;
        }
        ul {
          display: flex;
          flex-direction: column;
          text-align: left;
          li {
            margin-bottom: 4px;
            strong {
              margin-right: 6px;
            }
            a {
              color: var(--blue);
            }
          }
        }
      }
      .social-area {
        position: absolute;
        top: -60px;
        left: -100px;
        color: var(--navyblue);
        @media screen and (max-width: 768px) {
          position: relative;
          top: auto;
          left: 0;
          height: auto !important;
        }
        .title {
          font-size: 14px;
          @media screen and (max-width: 768px) {
            margin-right: 30px;
            font-size: 24px;
            &::after {
              content: ":";
            }
          }
          @media screen and (max-width: 560px) {
            font-size: 20px;
          }
        }
        ul {
          @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: row;
          }
          li {
            margin: 10px 0;
            a {
              font-size: 18px;
              @media screen and (max-width: 768px) {
                margin-right: 20px;
                font-size: 24px;
              }
              @media screen and (max-width: 560px) {
                font-size: 20px;
              }
            }
          }
        }
        .ui.sticky {
          display: flex;
          flex-direction: column;
          align-items: center;
          @media screen and (max-width: 768px) {
            position: relative;
            flex-direction: row;
          }
          &.fixed {
            top: 150px;
            @media screen and (max-width: 768px) {
              top: auto;
            }
          }
        }
      }
    }
    #bottom-area {
      &::before {
        content: "";
        border: 1px solid var(--silver);
        opacity: 0.05;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        max-width: 1292px;
        margin: 0 auto;
        @media screen and (max-width: 768px) {
          margin: 0 2rem;
        }
      }
    }
  }
}
