/*==================== COLOR CODES ===============================*/
body{
    --white: #FFFFFF;
    --color1: #000000;
    --color2: #ff0000;
    --darkblue: #1A4896;
    --blue: #3371F2;
    --silver: #8899BD;
    --pink: #FE5895;
    --warning: #FF715D;
    --green: #01D080;
    --navyblue: #183b56;
    --mango: #FBBD08;
    --purple: #A333C8;
    --logo-blue: #1E5479;
    --grey-light: #B3BAC5;
}