main{
    &.contact{
        #headline{
            position: relative;
            padding: 150px 0 60px;
            .landing-container{
                .headline-layout{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .headline-title{
                        color: var(--color1);
                        font-weight: 600;
                        font-size: 54px;
                        @media screen and (max-width: 1280px){
                            font-size: 30px;
                        }
                        @media screen and (max-width: 768px){
                            font-size: 30px;
                        }
                    }
                    .headline-subtitle{
                        padding-top: 12px;
                        color: var(--silver);
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 1.7;
                        width: 70%;
                        @media screen and (max-width: 1280px){
                            font-size: 16px;
                        }
                        @media screen and (max-width: 768px){
                            font-size: 16px;
                            width: 80%;
                        }
                        @media screen and (max-width: 576px){
                            width: 100%;
                        }
                    }
                }
            }
        }
        #form-area{
            margin-bottom: 30px;
            .landing-container{
                width: 50%;
                margin: 0 auto;
                @media screen and (max-width: 1366px){
                    width: 70%;
                }
                @media screen and (max-width: 768px){
                    width: 90%;
                }
                @media screen and (max-width: 576px){
                    width: 100%;
                }
                .segment{
                    padding: 60px;
                    border: none;
                    box-shadow: 0 10px 35px 0 rgba(0,0,0,0.08);
                    @media screen and (max-width: 768px){
                        padding: 48px;
                    }
                    @media screen and (max-width: 576px){
                        padding: 24px 20px;
                    }
                    form{
                        text-align: left;
                        label{
                            color: var(--silver);
                            font-size: 16px;
                            font-weight: 600;
                            margin-bottom: 12px;
                            opacity: .9;
                        }
                        input, .ui.dropdown, textarea{
                            height: 56px;
                            padding: 6px 20px;
                            border: solid 1px var(--grey-light);
                            border-radius: 6px;
                            background-color: var(--white);
                            line-height: 1.5;
                            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                            font-size: 16px;
                            font-weight: 600;
                            &:focus{
                                border: 1px solid var(--blue);
                                color: var(--navyblue);
                                box-shadow: 0 6px 15px 0 rgba(0,0,0,0.1);
                            }
                        }
                        .ui.dropdown{
                            display: flex;
                            align-items: center;
                            &>.text:not(.default){
                                font-weight: 600;
                            }
                            i{
                                display: none;
                            }
                        }
                        .fields{
                            @media screen and (max-width: 768px){
                                flex-direction: column;
                                .field{
                                    width: 100%;
                                    &:last-child{
                                        margin-top: 1em;
                                    }
                                }
                            }
                        }
                        .form-desc{
                            color: var(--silver);
                            font-size: 16px;
                            padding: 6px 0 16px;
                        }
                        .contact.button{
                            background-color: var(--color1);
                            color: var(--white);
                            font-size: 16px;
                            font-weight: 700;
                            padding: 4px 24px;
                            border-radius: 6px;
                            line-height: 2.875rem;
                            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                            &:hover{
                                opacity: .8;
                            }
                        }
                        .ui.checkbox{
                            label{
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 1.5;
                                a{
                                    color: var(--color2);
                                }
                                &:after{
                                    top: -1px;
                                }
                            }
                        }
                    }
                }
            }
        }
        #contact-detail{
            position: relative;
            padding: 80px 0;
            @media screen and (max-width: 768px){   
                padding: 80px 10px;
            }
            .landing-container{
                display: grid; 
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
                text-align: center;
                padding: 0 200px;
                @media screen and (max-width: 768px){   
                    grid-template-columns: repeat(1, 1fr);
                    padding: 0;
                }
                .contact-item{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    @media screen and (max-width: 768px){   
                        padding: 16px 140px;
                        margin-bottom: 48px;
                    }
                    @media screen and (max-width: 576px){   
                        padding: 16px;
                        margin-bottom: 48px;
                    }
                    .image-area{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgba(21,101,216,0.1);
                        width: 64px;
                        height: 64px;
                        border-radius: 14px;
                        img{
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .title{
                        margin-top: 24px;
                        font-size: 24px;
                        font-weight: 700;
                        color: var(--color1);
                    }
                    .desc{
                        margin-top: 10px;
                        font-size: 16px;
                        padding: 0 30px;
                        color: var(--silver);
                        @media screen and (max-width: 576px){ 
                            padding: 0 16px;
                        }
                    }
                    a{
                        margin-top: 12px;
                        font-size: 16px;
                        font-weight: 700;
                        color: var(--color2);
                        &.priv-button{
                            border: 1px solid var(--color2);
                            border-radius: 10px;
                            padding: 6px 20px;
                            i{
                                margin: 0;
                            }
                            &:hover{
                                background-color: var(--color2);
                                color: var(--white);
                            }
                        }
                    }
                }
            }
            &:after{
                content: '';
                border: 1px solid var(--silver);
                opacity: .05;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                max-width: 1292px;
                margin: 0 auto;
                @media screen and (max-width: 768px){   
                    margin: 0 2rem;
                }
            }
        }
    }
    #bottom-area{
        position: relative;
        padding: 40px 0;
        @media screen and (max-width: 768px){   
            padding: 30px 0;
        }
        .landing-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 768px){
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                justify-items: center;
            }
            .bottom-left{
                text-align: left;
                font-size: 14px;
                color: var(--navyblue);
                order: 1;
                @media screen and (max-width: 768px){   
                    order: 3;
                    text-align: center;
                    padding: 20px 0;
                }
            }
            .bottom-center{
                order: 2;
                background-image: url(../img/bottom_logo-2.svg);
                height: 50px;
                width: 170px;
                background-repeat: no-repeat;
                @media screen and (max-width: 768px){
                    padding: 10px 0;
                }
            }
            .bottom-right{
                text-align: right;
                order: 3;
                @media screen and (max-width: 768px){   
                    order: 1;
                    display: flex;
                    justify-content: center;
                    padding: 0 0 24px 0;
                }
                ul{
                    display: flex;
                    flex-direction: row;
                    li{
                        a{
                            padding: 0 16px;
                            @media screen and (max-width: 768px){   
                                padding: 0 8px;
                            }
                            i{
                                color: var(--navyblue);
                                font-size: 24px;
                            }
                        }
                        &:last-child{
                            a{
                                padding-right: 0;
                            }
                        }
                    }
                }
            }
        }
        &::before{
            content: '';
            border: 1px solid var(--silver);
            opacity: .05;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            max-width: 1292px;
            margin: 0 auto;
            @media screen and (max-width: 768px){   
                margin: 0 2rem;
            }
        }
    }
}