main{
    background-color: var(--white);
    color: var(--navyblue);
    &.denti-assist{
        #headline{
            position: relative;
            padding: 180px 0;
            background-color: var(--white);
            @media screen and (max-width: 1280px){
                padding: 150px 0 120px;
            }
            @media screen and (max-width: 768px){
                padding: 60px 0;
                margin-top: 100px;
            }
            @media screen and (max-width: 560px){
                padding: 0;
                height: max-content;
            }
            .landing-container{
                height: 100%;
                display: flex;
                align-items: center;
                .headline-layout{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    text-align: left;
                    width: 100%;
                    @media screen and (max-width: 768px){
                        flex-direction: column;
                    }
                    .headline-left{
                        display: flex;
                        flex-direction: column;
                        max-width: 50%;
                        flex: 0 0 50%;
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 50%;
                        @media screen and (max-width: 768px){
                            max-width: 100%;
                            flex: 0 0 100%;
                            -webkit-box-flex: 0;
                            -ms-flex: 0 0 100%;
                            align-items: center;
                            margin-top: 30px;
                        }
                        .headline-content{
                            margin-bottom: 24px;
                            width: 90%;
                            @media screen and (max-width: 768px){
                                text-align: center;
                            }
                            h1{
                                color: var(--navyblue);
                                line-height: 1.3;
                            }
                            p{
                                padding-top: 12px;
                                color: var(--navyblue);
                                font-weight: 500;
                                font-size: 18px;
                                opacity: .6;
                                line-height: 1.7;
                                text-align: justify;
                                @media screen and (max-width: 768px){
                                    font-size: 18px;
                                    text-align: center;
                                }
                                @media screen and (max-width: 560px){
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    .headline-right{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        max-width: 50%;
                        flex: 0 0 50%;
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 50%;
                        height: 550px;
                        background-image: url(../img/dentiassist-headline.png);
                        background-repeat: no-repeat;
                        background-position: bottom right;
                        @media screen and (max-width: 768px){
                            max-width: 100%;
                            flex: 0 0 100%;
                            -webkit-box-flex: 0;
                            -ms-flex: 0 0 100%;
                            align-items: center;
                            background-position: center;
                            min-height: 400px;
                            width: 100%;
                            background-size: auto 400px;
                        }
                        @media screen and (max-width: 560px){
                            min-height: 200px;
                            height: 200px;
                            background-size: auto 200px;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            &:after{
                content: '';
                border: 1px solid var(--silver);
                opacity: .05;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                max-width: 1292px;
                margin: 0 auto;
                @media screen and (max-width: 768px){   
                    margin: 0 2rem;
                }
            }
        }
        #features{
            position: relative;
            padding: 80px 0;
            text-align: center;
            background-color: #f9fbfe;
            @media screen and (max-width: 768px){
                padding: 60px 0;
                text-align: center;
            }
            .landing-container{
                display: flex;
                flex-direction: column;
                .features-title{
                    color: var(--navyblue);
                }
                .features-content{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    grid-gap: 60px 30px;
                    margin-top: 60px;
                    @media screen and (max-width: 768px){
                        grid-template-columns: repeat(2,1fr);
                    }
                    @media screen and (max-width: 560px){
                        grid-template-columns: repeat(1,1fr);
                        width: 90%;
                        margin: 60px auto 0;
                    }
                    .item{
                        position: relative;
                        padding: 1.5rem;
                        background-color: var(--white);
                        -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.03);
                        -moz-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.03);
                        box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.03);
                        .icon-area{
                            position: absolute;
                            left: 50%;
                            top: -30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 60px;
                            width: 60px;
                            background-color: var(--white);
                            border-radius: 100%;
                            -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.03);
                            -moz-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.03);
                            box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.03);
                            transform: translate(-50%, 0);
                            img{
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
                span, p{
                    color: var(--silver);
                }
            }
        }
    }
}