main{
    background-color: var(--white);
    color: var(--navyblue);
    &.homepage{
        #headline{
            position: relative;
            padding: 120px 0;
            background-color: var(--white);
            height: 100vh;
            @media screen and (max-width: 1280px){
                padding: 150px 0 120px;
            }
            @media screen and (max-width: 768px){
                padding: 80px 0 80px;
            }
            @media screen and (max-width: 560px){
                padding: 100px 0 0;
            }
            .landing-container{
                height: 100%;
                display: flex;
                align-items: center;
                .headline-layout{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    text-align: left;
                    @media screen and (max-width: 768px){
                        flex-direction: column;
                    }
                    .headline-left{
                        display: flex;
                        flex-direction: column;
                        max-width: 50%;
                        flex: 0 0 50%;
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 50%;
                        @media screen and (max-width: 768px){
                            max-width: 100%;
                            flex: 0 0 100%;
                            -webkit-box-flex: 0;
                            -ms-flex: 0 0 100%;
                            align-items: center;
                            order: 2;
                            margin-top: 30px;
                        }
                        .headline-content{
                            margin-bottom: 24px;
                            width: 90%;
                            @media screen and (max-width: 768px){
                                text-align: center;
                            }
                            h1{
                                color: var(--navyblue);
                                line-height: 1.3;
                            }
                            p{
                                padding-top: 12px;
                                color: var(--navyblue);
                                font-weight: 500;
                                font-size: 18px;
                                opacity: .6;
                                line-height: 1.7;
                                text-align: justify;
                                @media screen and (max-width: 768px){
                                    font-size: 18px;
                                    text-align: center;
                                }
                                @media screen and (max-width: 560px){
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    .headline-right{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        max-width: 50%;
                        flex: 0 0 50%;
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 50%;
                        height: 400px;
                        background-image: url(../img/simurg2.jpg);
                        background-repeat: no-repeat;
                        background-position: bottom right;
                        @media screen and (max-width: 768px){
                            order: 1;
                            max-width: 100%;
                            flex: 0 0 100%;
                            -webkit-box-flex: 0;
                            -ms-flex: 0 0 100%;
                            align-items: center;
                            background-position: center;
                            min-height: 400px;
                            width: 100%;
                        }
                        @media screen and (max-width: 560px){
                            min-height: 200px;
                            height: 200px;
                            background-size: auto 200px;
                        }
                    }
                }
                .headline-arrow{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--navyblue);
                    opacity: .4;
                    border-radius: 100%;
                    border: 1px solid var(--navyblue);
                    width: 40px;
                    height: 40px;
                    @media screen and (max-width: 1280px){
                        bottom: -40px;
                    }
                    @media screen and (max-width: 768px){
                        bottom: 20px;
                        left: 50%;
                        transform: translate(-50%, 0);
                    }
                    @media screen and (max-width: 560px){
                        display: none;
                    }
                    i{
                        display: inline-table;
                        margin: 0;
                        font-size: 20px;
                        @media screen and (max-width: 560px){
                            font-size: 14px;
                        }
                    }
                    &:hover{
                        opacity: .75;
                    }
                }
            }
        }
        #services{
            position: relative;
            padding: 80px 0;
            text-align: left;
            background-color: #f9fbfe;
            .services-title{
                max-width: 100%;
            }
            .services-content{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 30px;
                @media screen and (max-width: 768px){
                    flex-direction: column;
                }
                .services-left{
                    width: 50%;
                    @media screen and (max-width: 768px){
                        width: 100%;
                    }
                    .services-item{
                        position: relative;
                        padding: 1rem;
                        margin-top: 20px;
                        &:first-child{
                            margin-top: 0;
                        }
                        &.active{
                            background-color: #B3BAC520;
                            border-radius: 0 10px 10px 0;
                            &:before{
                                content: '';
                                position: absolute;
                                top: 10%;
                                bottom: 0;
                                left: 0;
                                background-color: var(--blue);
                                height: 80%;
                                width: 3px;
                            }
                            &:hover{
                                &:before{
                                    background-color: var(--blue);
                                }
                            }
                        }
                        &:hover{
                            background-color: #B3BAC520;
                            border-radius: 0 10px 10px 0;
                            cursor: pointer;
                            &:before{
                                content: '';
                                position: absolute;
                                top: 10%;
                                bottom: 0;
                                left: 0;
                                background-color: var(--silver);
                                height: 80%;
                                width: 3px;
                            }
                        }
                        h5{
                            margin-bottom: 6px;
                        }
                        p{
                            font-size: 16px;
                            color: var(--silver);
                        }
                    }
                }
                .services-right{
                    width: 50%;
                    text-align: center;
                    @media screen and (max-width: 768px){
                        width: 100%;
                        margin-top: 30px;
                    }
                    img{
                        display: none;
                        height: 500px;
                        width: auto;
                        margin: 0 auto;
                        @media screen and (max-width: 768px){
                            height: 400px;
                        }
                        @media screen and (max-width: 560px){
                            height: 300px;
                        }
                        &.active{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}