main{
    background-color: var(--white);
    color: var(--navyblue);
    &.services{
        #headline{
            position: relative;
            padding: 120px 0;
            background-color: var(--white);
            height: 100vh;
            @media screen and (max-width: 1280px){
                padding: 150px 0 120px;
            }
            @media screen and (max-width: 768px){
                padding: 40px 0 40px;
                height: max-content;
                margin-top: 100px;
            }
            @media screen and (max-width: 560px){
                padding: 0;
            }
            .landing-container{
                height: 100%;
                display: flex;
                align-items: center;
                .headline-layout{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    text-align: left;
                    @media screen and (max-width: 768px){
                        flex-direction: column;
                    }
                    .headline-left{
                        display: flex;
                        flex-direction: column;
                        max-width: 50%;
                        flex: 0 0 50%;
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 50%;
                        @media screen and (max-width: 768px){
                            max-width: 100%;
                            flex: 0 0 100%;
                            -webkit-box-flex: 0;
                            -ms-flex: 0 0 100%;
                            align-items: center;
                            margin-top: 30px;
                        }
                        .headline-content{
                            margin-bottom: 24px;
                            width: 90%;
                            @media screen and (max-width: 768px){
                                text-align: center;
                            }
                            h1{
                                color: var(--navyblue);
                                line-height: 1.3;
                            }
                            p{
                                padding-top: 12px;
                                color: var(--navyblue);
                                font-weight: 500;
                                font-size: 18px;
                                opacity: .6;
                                line-height: 1.7;
                                text-align: justify;
                                @media screen and (max-width: 768px){
                                    font-size: 18px;
                                    text-align: center;
                                }
                                @media screen and (max-width: 560px){
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    .headline-right{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        max-width: 50%;
                        flex: 0 0 50%;
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 50%;
                        height: 550px;
                        background-image: url(../img/services-headline.png);
                        background-repeat: no-repeat;
                        background-position: bottom right;
                        @media screen and (max-width: 768px){
                            max-width: 100%;
                            flex: 0 0 100%;
                            -webkit-box-flex: 0;
                            -ms-flex: 0 0 100%;
                            align-items: center;
                            background-position: center;
                            min-height: 400px;
                            width: 100%;
                            background-size: auto 400px;
                        }
                        @media screen and (max-width: 560px){
                            min-height: 200px;
                            height: 200px;
                            background-size: auto 200px;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        #services{
            position: relative;
            padding: 80px 0;
            text-align: left;
            background-color: #f9fbfe;
            @media screen and (max-width: 768px){
                padding: 60px 0;
                text-align: center;
            }
            .landing-container{
                display: flex;
                flex-direction: column;
                .services-title{
                    max-width: 60%;
                    color: var(--navyblue);
                    @media screen and (max-width: 1280px){
                        max-width: 100%;
                    }
                }
                span{
                    color: var(--silver);
                    font-size: 16px;
                    @media screen and (max-width: 768px){
                        width: 90%;
                        margin: 0 auto;
                    }
                }
                .items{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    grid-gap: 60px;
                    margin-top: 30px;
                    @media screen and (max-width: 768px){
                        grid-template-columns: repeat(1,1fr);
                        grid-gap: 20px;
                        text-align: left;
                        width: 75%;
                        margin: 30px auto 0;
                    }
                    @media screen and (max-width: 560px){
                        width: 90%;
                    }
                    .services-item{
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        background-color: var(--white);
                        border-radius: 10px;
                        padding: 1.5rem;
                        -webkit-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.03);
                        -moz-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.03);
                        box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.03);
                        .services-icon{
                            position: absolute;
                            left: 1.5rem;
                            top: 1.5rem;
                        }
                        &.consulting{
                            .services-icon{
                                width: 24px;
                                height: 24px;
                                border-radius: 100%;
                                background-color: var(--blue);
                            }
                        }
                        &.courses{
                            .services-icon{
                                width: 20px;
                                height: 20px;
                                background-color: var(--mango);
                                transform: rotate(45deg);
                                -webkit-transform: rotate(45deg);
                            }
                        }
                        &.software{
                            .services-icon{
                                width: 24px;
                                height: 24px;
                                background-color: var(--green);
                                border-radius: 5px;
                            }
                        }
                        .item-detail{
                            margin-left: 30px;
                            h5{
                                line-height: 1;
                            }
                            span{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}