@import "color";

/*=================== STYLESHEET =====================
    Project     :   SimurgAI
    File Name   :   style.scss
    Author Name :   SimurgAI
==============================================================*/

/*===================== TYPOGRAPHY =================================
    Font1      :     font-family: 'Ubuntu';
=====================================================================*/

/*===== Global Style & Theme Reset =====*/
html {
  margin: auto;
  max-width: 100%;
  body {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: Ubuntu, sans-serif !important;
    overflow-x: hidden !important;
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.5;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: "Ubuntu", sans-serif !important;
      letter-spacing: -0.2px;
    }
    section,
    .cover {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    ::selection {
      color: white;
    }
    body.no-selection ::selection {
      color: inherit !important;
      background: transparent !important;
    }
    form input {
      font-family: "Ubuntu" !important;
    }
    a {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      &:hover {
        cursor: pointer;
        color: inherit;
      }
    }
    .display-none {
      display: none !important;
    }
    /* Mobile */
    @media only screen and (max-width: 767px) {
      [class*="mobile hidden"],
      [class*="tablet only"]:not(.mobile),
      [class*="computer only"]:not(.mobile),
      [class*="large screen only"]:not(.mobile),
      [class*="widescreen only"]:not(.mobile),
      [class*="or lower hidden"] {
        display: none !important;
      }
    }
    /* Tablet / iPad Portrait */
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      [class*="mobile only"]:not(.tablet),
      [class*="tablet hidden"],
      [class*="computer only"]:not(.tablet),
      [class*="large screen only"]:not(.tablet),
      [class*="widescreen only"]:not(.tablet),
      [class*="or lower hidden"]:not(.mobile) {
        display: none !important;
      }
    }
    /* Computer / Desktop / iPad Landscape */
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      [class*="mobile only"]:not(.computer),
      [class*="tablet only"]:not(.computer),
      [class*="computer hidden"],
      [class*="large screen only"]:not(.computer),
      [class*="widescreen only"]:not(.computer),
      [class*="or lower hidden"]:not(.tablet):not(.mobile) {
        display: none !important;
      }
    }
    /* Large Monitor */
    @media only screen and (min-width: 1200px) and (max-width: 1919px) {
      [class*="mobile only"]:not([class*="large screen"]),
      [class*="tablet only"]:not([class*="large screen"]),
      [class*="computer only"]:not([class*="large screen"]),
      [class*="large screen hidden"],
      [class*="widescreen only"]:not([class*="large screen"]),
      [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
        display: none !important;
      }
    }
    /* Widescreen Monitor */
    @media only screen and (min-width: 1920px) {
      [class*="mobile only"]:not([class*="widescreen"]),
      [class*="tablet only"]:not([class*="widescreen"]),
      [class*="computer only"]:not([class*="widescreen"]),
      [class*="large screen only"]:not([class*="widescreen"]),
      [class*="widescreen hidden"],
      [class*="widescreen or lower hidden"] {
        display: none !important;
      }
    }

    /* Styles */
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .uppercase {
      text-transform: uppercase !important;
    }
    .capitalize {
      text-transform: capitalize !important;
    }
    .t-left,
    .t-left.row,
    .t-left > .row {
      text-align: left;
      justify-content: left;
    }
    .t-center,
    .t-center.row,
    .t-center > .row {
      text-align: center !important;
      justify-content: center;
    }
    .t-right,
    .t-right.row,
    .t-right > .row {
      text-align: right;
      justify-content: right;
    }
    .t-justify {
      text-align: justify;
    }
    .t-start {
      text-align: start;
    }
    .w100 {
      width: 100% !important;
    }

    /* Paddings */
    .p0 {
      padding: 0 !important;
    }
    .no-px {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .no-py {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .no-pt {
      padding-top: 0 !important;
    }
    .no-pl {
      padding-left: 0 !important;
    }
    .no-pr {
      padding-right: 0 !important;
    }
    .no-pb {
      padding-bottom: 0 !important;
    }
    .p1x {
      padding: 0 1rem !important;
    }
    .mini-py {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
    }
    .mini-px {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
    .mini-pt {
      padding-top: 5px !important;
    }
    .mini-pr {
      padding-right: 5px !important;
    }
    .mini-pb {
      padding-bottom: 5px !important;
    }
    .mini-pl {
      padding-left: 5px !important;
    }
    .p10-py {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
    .p10-px {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    .p10-pt {
      padding-top: 10px !important;
    }
    .p10-pr {
      padding-right: 10px !important;
    }
    .p10-pb {
      padding-bottom: 10px !important;
    }
    .p10-pl {
      padding-left: 10px !important;
    }
    .xxs-py {
      padding-top: 15px !important;
      padding-bottom: 15px !important;
    }
    .xxs-px {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    .xxs-pt {
      padding-top: 15px !important;
    }
    .xxs-pr {
      padding-right: 15px !important;
    }
    .xxs-pb {
      padding-bottom: 15px !important;
    }
    .xxs-pl {
      padding-left: 15px !important;
    }
    .xs-py {
      padding-top: 30px !important;
      padding-bottom: 30px !important;
    }
    .xs-px {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
    .xs-pt {
      padding-top: 30px !important;
    }
    .xs-pr {
      padding-right: 30px !important;
    }
    .xs-pb {
      padding-bottom: 30px !important;
    }
    .xs-pl {
      padding-left: 30px !important;
    }
    .sm-py {
      padding-top: 50px !important;
      padding-bottom: 50px !important;
    }
    .sm-px {
      padding-left: 50px !important;
      padding-right: 50px !important;
    }
    .sm-pt {
      padding-top: 50px !important;
    }
    .sm-pr {
      padding-right: 50px !important;
    }
    .sm-pb {
      padding-bottom: 50px !important;
    }
    .sm-pl {
      padding-left: 50px !important;
    }
    .py {
      padding-top: 100px !important;
      padding-bottom: 100px !important;
    }
    .px {
      padding-left: 100px !important;
      padding-right: 100px !important;
    }
    .pt {
      padding-top: 100px !important;
    }
    .pr {
      padding-right: 100px !important;
    }
    .pb {
      padding-bottom: 100px !important;
    }
    .pl {
      padding-left: 100px !important;
    }
    .md-py {
      padding-top: 150px !important;
      padding-bottom: 150px !important;
    }
    .md-px {
      padding-left: 150px !important;
      padding-right: 150px !important;
    }
    .md-pt {
      padding-top: 150px !important;
    }
    .md-pr {
      padding-right: 150px !important;
    }
    .md-pb {
      padding-bottom: 150px !important;
    }
    .md-pl {
      padding-left: 150px !important;
    }
    .lg-py {
      padding-top: 200px !important;
      padding-bottom: 200px !important;
    }
    .lg-px {
      padding-left: 200px !important;
      padding-right: 200px !important;
    }
    .lg-pt {
      padding-top: 200px !important;
    }
    .lg-pr {
      padding-right: 200px !important;
    }
    .lg-pb {
      padding-bottom: 200px !important;
    }
    .lg-pl {
      padding-left: 200px !important;
    }
    .xl-py {
      padding-top: 250px !important;
      padding-bottom: 250px !important;
    }
    .xl-px {
      padding-left: 250px !important;
      padding-right: 250px !important;
    }
    .xl-pt {
      padding-top: 250px !important;
    }
    .xl-pr {
      padding-right: 250px !important;
    }
    .xl-pb {
      padding-bottom: 250px !important;
    }
    .xl-pl {
      padding-left: 250px !important;
    }
    .xxl-py {
      padding-top: 350px !important;
      padding-bottom: 350px !important;
    }
    .xxl-px {
      padding-left: 350px !important;
      padding-right: 350px !important;
    }
    .xxl-pt {
      padding-top: 350px !important;
    }
    .xxl-pr {
      padding-right: 350px !important;
    }
    .xxl-pb {
      padding-bottom: 350px !important;
    }
    .xxl-pl {
      padding-left: 350px !important;
    }
    /* Margins */
    .pm0 {
      padding: 0 !important;
      margin: 0 !important;
    }
    .m0 {
      margin: 0 !important;
    }
    .no-mt {
      margin-top: 0 !important;
    }
    .no-mb {
      margin-bottom: 0 !important;
    }
    .no-mx {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .no-my {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
    .no-ml {
      margin-left: 0 !important;
    }
    .no-mr {
      margin-right: 0 !important;
    }
    .mini-my {
      margin-top: 5px !important;
      margin-bottom: 5px !important;
    }
    .mini-mx {
      margin-left: 5px !important;
      margin-right: 5px !important;
    }
    .mini-mt {
      margin-top: 5px !important;
    }
    .mini-mr {
      margin-right: 5px !important;
    }
    .mini-mb {
      margin-bottom: 5px !important;
    }
    .mini-ml {
      margin-left: 5px !important;
    }
    .p10-my {
      margin-top: 10px !important;
      margin-bottom: 10px !important;
    }
    .p10-mx {
      margin-left: 10px !important;
      margin-right: 10px !important;
    }
    .p10-mt {
      margin-top: 10px !important;
    }
    .p10-mr {
      margin-right: 10px !important;
    }
    .p10-mb {
      margin-bottom: 10px !important;
    }
    .p10-ml {
      margin-left: 10px !important;
    }
    .xxs-my {
      margin-top: 15px !important;
      margin-bottom: 15px !important;
    }
    .xxs-mx {
      margin-left: 15px !important;
      margin-right: 15px !important;
    }
    .xxs-mt {
      margin-top: 15px !important;
    }
    .xxs-mr {
      margin-right: 15px !important;
    }
    .xxs-mb {
      margin-bottom: 15px !important;
    }
    .xxs-ml {
      margin-left: 15px !important;
    }
    .xs-my {
      margin-top: 30px !important;
      margin-bottom: 30px !important;
    }
    .xs-mx {
      margin-left: 30px !important;
      margin-right: 30px !important;
    }
    .xs-mt {
      margin-top: 30px !important;
    }
    .xs-mr {
      margin-right: 30px !important;
    }
    .xs-mb {
      margin-bottom: 30px !important;
    }
    .xs-ml {
      margin-left: 30px !important;
    }
    .sm-my {
      margin-top: 50px !important;
      margin-bottom: 50px !important;
    }
    .sm-mx {
      margin-left: 50px !important;
      margin-right: 50px !important;
    }
    .sm-mt {
      margin-top: 50px !important;
    }
    .sm-mr {
      margin-right: 50px !important;
    }
    .sm-mb {
      margin-bottom: 50px !important;
    }
    .sm-ml {
      margin-left: 50px !important;
    }
    .mt70 {
      margin-top: 70px !important;
    }
  }
}

/*===== Body Section =====*/
body {
  scroll-behavior: smooth;
  .AppLayout {
    /*===== Heading Text =====*/
    h1 {
      font-weight: 600;
      font-size: 72px;
      @media screen and (max-width: 1280px) {
        font-size: 60px;
      }
      @media screen and (max-width: 768px) {
        font-size: 36px;
      }
      @media screen and (max-width: 560px) {
        font-size: 24px;
      }
    }
    h2 {
      font-size: 48px;
      font-weight: 600;
      @media screen and (max-width: 1280px) {
        font-size: 36px;
      }
      @media screen and (max-width: 768px) {
        font-size: 30px;
      }
      @media screen and (max-width: 560px) {
        font-size: 22px;
      }
    }
    h3 {
      font-size: 36px;
      font-weight: 600;
      @media screen and (max-width: 1280px) {
        font-size: 32px;
      }
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
      @media screen and (max-width: 560px) {
        font-size: 20px;
      }
    }
    h4 {
      font-size: 28px;
      font-weight: 600;
      @media screen and (max-width: 1280px) {
        font-size: 24px;
      }
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
      @media screen and (max-width: 560px) {
        font-size: 18px;
      }
    }
    h5 {
      font-size: 20px;
      font-weight: 600;
      @media screen and (max-width: 1280px) {
        font-size: 18px;
      }
      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
      @media screen and (max-width: 560px) {
        font-size: 14px;
      }
    }
    /*===== Button =====*/
    .button {
      padding: 6px 24px;
      border-radius: 20px;
      font-size: 16px;
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
      @media screen and (max-width: 560px) {
        font-size: 14px;
      }
      &.classic {
        &.border-button {
          border: 1px solid var(--blue);
          color: var(--blue);
          font-weight: 600;
          &:hover {
            background-color: var(--blue);
            color: var(--white);
          }
        }
      }
    }
    /*===== Header =====*/
    header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      z-index: 100;
      box-shadow: 0 0 40px transparent;
      transition: 0.2s;
      -webkit-transition: 0.2s;
      transition-property: background-color, color;
      -webkit-transition-property: background-color, color;
      .landing-container {
        display: flex;
        flex: 1 1;
        flex-direction: row;
        height: 100px;
        width: 100%;
        min-height: 100px;
        .header-left {
          display: flex;
          align-items: center;
          flex-direction: row;
          height: auto;
          justify-content: space-between;
          .header-logo {
            margin-right: auto;
            background-image: url(../img/logo.png);
            background-size: 100% 100%;
            width: 266px;
            height: 40px;
          }
          .mobile-navbar {
            display: none;
            @media screen and (max-width: 768px) {
              display: block;
              .target-burger {
                position: relative;
                display: block;
                width: 52px;
                height: 52px;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                ul {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 26px;
                  height: 26px;
                  margin: -12px 0 0 -12px;
                  padding: 0;
                  -webkit-transition: -webkit-transform 1s
                      cubic-bezier(0.23, 1, 0.32, 1),
                    color 1s cubic-bezier(0.23, 1, 0.32, 1);
                  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1),
                    color 1s cubic-bezier(0.23, 1, 0.32, 1);
                  -webkit-transform: translateZ(0);
                  transform: translateZ(0);
                  li {
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    height: 2px;
                    margin-top: -0.75px;
                    background-color: var(--color1);
                    -webkit-transform: translateY(-3.75px) translateZ(0);
                    transform: translateY(-3.75px) translateZ(0);
                    -webkit-transition: -webkit-transform 1s
                        cubic-bezier(0.23, 1, 0.32, 1),
                      background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
                    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1),
                      background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
                    &:last-child {
                      -webkit-transform: translateY(3.75px) translateZ(0);
                      transform: translateY(3.75px) translateZ(0);
                    }
                  }
                }
                &:hover {
                  opacity: 0.5;
                }
                &.toggled {
                  ul {
                    li {
                      -webkit-transform: rotate(45deg) translateZ(0);
                      transform: rotate(45deg) translateZ(0);
                      &:last-child {
                        -webkit-transform: rotate(-45deg) translateZ(0);
                        transform: rotate(-45deg) translateZ(0);
                      }
                    }
                  }
                }
              }
              .main-nav {
                display: none;
                position: fixed;
                left: 0;
                z-index: 0;
                height: 100%;
                width: 100%;
                padding: 20px;
                -webkit-opacity: 0;
                -moz-opacity: 0;
                opacity: 0;
                &.toggled {
                  display: block;
                  background-color: var(--color1);
                  z-index: 10;
                  margin-top: 20px;
                  -webkit-transform: scale(1);
                  -ms-transform: scale(1);
                  transform: scale(1);
                  -webkit-opacity: 1;
                  -moz-opacity: 1;
                  opacity: 1;
                  -webkit-transition: all 0.5s ease;
                  -moz-transition: all 0.5s ease;
                  -o-transition: all 0.5s ease;
                  transition: all 0.5s ease;
                }
                & > ul {
                  flex-direction: column;
                  text-align: left;
                  li {
                    display: flex;
                    justify-content: flex-start;
                    transition: 0.2s;
                    a {
                      padding: 15px;
                      & > span {
                        font-size: 20px;
                        font-weight: 600;
                        color: var(--white);
                      }
                    }
                    &.mobile-nav-dropdown {
                      display: flex;
                      flex-direction: column;
                      .title {
                        font-size: 20px;
                        font-weight: 600;
                        color: var(--white);
                        padding: 15px;
                      }
                      .content {
                        padding-top: 0;
                        display: none;
                        flex-direction: column;
                        &.active {
                          display: flex;
                          flex-direction: column;
                        }
                        a {
                          font-size: 16px;
                          font-weight: 600;
                          color: var(--white);
                          padding: 10px 0 10px 30px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
        .header-right {
          display: flex;
          align-items: center;
          flex-grow: 1;
          justify-content: center;
          margin-bottom: 0;
          opacity: 1;
          z-index: 11;
          .header-nav {
            flex: 1 1;
            align-items: center;
            justify-content: center;
            nav {
              display: flex;
              align-items: center;
              flex-direction: row;
              justify-content: flex-end;
              margin: 0 auto;
              overflow: visible;
              transform: translateX(0);
              transition: -webkit-transform 0.33s ease-in-out;
              transition: transform 0.33s ease-in-out;
              transition: transform 0.33s ease-in-out,
                -webkit-transform 0.33s ease-in-out;
              & > * {
                color: var(--white);
                &:hover {
                  color: var(--color2);
                }
              }
              .nav-link {
                display: inline-block;
                font-size: 16px;
                padding: 16px 20px;
                font-weight: 600;
                line-height: inherit;
                cursor: pointer;
                background: transparent;
                border: 0;
                text-decoration: none;
                transition: color 0.2s;
                vertical-align: baseline;
                margin: 0;
                color: var(--navyblue);
                &:hover,
                &.active {
                  color: var(--color2);
                }
                @media screen and (max-width: 1280px) {
                  padding: 16px 10px;
                }
                i {
                  margin: 0;
                }
              }
              .nav-dropdown {
                position: relative;
                z-index: 1;
                .dropdown-content {
                  display: none;
                  background: var(--color1);
                  border-radius: 10px;
                  box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.05),
                    0 4px 4px 0 rgba(255, 255, 255, 0.05);
                  width: 350px;
                  min-height: 0;
                  position: absolute;
                  top: 50px;
                  left: 50%;
                  margin-left: -175px;
                  padding: 30px;
                  transition: 175ms ease-in-out;
                  transition-property: opacity, -webkit-transform;
                  transition-property: opacity, transform;
                  transition-property: opacity, transform, -webkit-transform;
                  z-index: 10;
                  &.nav-groups {
                    width: max-content;
                  }
                  .nav-group {
                    display: flex;
                    flex-direction: column;
                    padding-left: 32px;
                    &:first-child {
                      padding-left: 0;
                    }
                  }
                  .title {
                    &.active {
                      color: var(--color2) !important;
                    }
                  }
                }
                &:hover {
                  .dropdown-content {
                    display: inline-flex;
                    flex-direction: column;
                    transform: translateY(0);
                    -webkit-transform: translateY(0);
                    &.language {
                      width: auto;
                      margin-left: -10px;
                      left: 0;
                      .dropdown-link {
                        .page-content {
                          padding-left: 0;
                        }
                      }
                    }
                    &.no-image {
                      .dropdown-link {
                        padding: 12px 0;
                      }
                    }
                    .dropdown-link {
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      padding: 16px 0;
                      img {
                        height: auto;
                        width: 30px;
                      }
                      .page-content {
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        padding-left: 16px;
                        .title {
                          font-size: 16px;
                          font-weight: 600;
                          color: var(--white);
                          line-height: 1;
                        }
                        .subtitle {
                          line-height: 1;
                          padding-top: 8px;
                          font-size: 14px;
                          font-weight: 400;
                          color: var(--silver);
                        }
                      }
                      &:first-child {
                        padding-top: 0;
                      }
                      &:last-child {
                        padding-bottom: 0;
                      }
                      &:hover {
                        .page-content {
                          .title {
                            color: var(--color2);
                          }
                        }
                      }
                    }
                    &.nav-groups {
                      display: grid;
                      grid-template-columns: repeat(2, 1fr);
                      padding: 0;
                      .nav-group {
                        padding: 30px;
                      }
                    }
                  }
                }
              }
            }
          }
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }
      &.navbar-fixed,
      &.header-white {
        background-color: var(--color1);
        box-shadow: none;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        .landing-container {
          .header-left {
            .header-logo {
              background-image: url(../img/logo-white.png);
            }
            .mobile-navbar {
              .target-burger {
                ul {
                  li {
                    background-color: var(--white);
                  }
                }
              }
            }
          }
          .header-right {
            .header-nav {
              nav {
                .nav-link {
                  color: var(--white);
                  &:hover,
                  &.active {
                    color: var(--color2);
                  }
                }
              }
            }
          }
        }
      }
    }
    /*===== Container =====*/
    .landing-container {
      position: relative;
      max-width: 1292px;
      margin: 0 auto;
      padding: 0;
      @media screen and (max-width: 1280px) {
        max-width: 1127px;
      }
      @media screen and (max-width: 768px) {
        padding: 0 20px;
      }
      @media screen and (max-width: 560px) {
        padding: 0 10px;
      }
    }
    #blog-general {
      position: relative;
      padding: 80px 0;
      @media screen and (max-width: 768px) {
        padding: 40px 0;
      }
      .landing-container {
        display: flex;
        flex-direction: column;
        .blog-top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
          .section-title {
            color: var(--navyblue);
            margin: 0;
          }
        }
        .blog-area {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 30px;
          @media screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
          }
          @media screen and (max-width: 560px) {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
          }
          &.last-items {
            grid-template-columns: repeat(2, 1fr);
            margin: 40px 0 30px;
            @media screen and (max-width: 768px) {
              margin: 20px 0;
            }
            @media screen and (max-width: 560px) {
              grid-template-columns: repeat(1, 1fr);
            }
            .content {
              .blog-info {
                width: 80%;
              }
            }
          }
          .item {
            position: relative;
            border-radius: 30px;
            overflow: hidden;
            .content {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              color: var(--white);
              .category {
                display: none;
                position: absolute;
                top: 2rem;
                left: 2rem;
                background-color: var(--white);
                border-radius: 15px;
                padding: 4px 12px;
                color: var(--green);
                font-size: 14px;
                font-weight: 500;
              }
              .blog-info {
                position: absolute;
                bottom: 2rem;
                left: 2rem;
                right: 2rem;
                text-align: left;
                .name {
                  width: 100%;
                  margin-bottom: 1.5rem;
                }
                .author {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  img {
                    height: 42px;
                    width: 42px;
                    border-radius: 100%;
                    margin-right: 10px;
                  }
                  .author-info {
                    display: flex;
                    flex-direction: column;
                    .author-name {
                      font-size: 16px;
                      font-weight: 600;
                    }
                    .author-job {
                      color: var(--silver);
                    }
                  }
                }
              }
              .date {
                position: absolute;
                right: 2rem;
                bottom: 2rem;
                font-size: 16px;
                font-weight: 600;
                opacity: 0.5;
                color: var(--silver);
                @media screen and (max-width: 1280px) {
                  top: 2rem;
                  right: 2rem;
                }
              }
            }
            img {
              width: 100%;
            }
            &:hover {
              .content {
                .blog-info {
                  transition: 0.2s;
                  transform: translateY(-10px);
                }
              }
            }
            &:before {
              content: "";
              position: absolute;
              top: 0;
              border-radius: 16px 16px 0 0;
              right: 0;
              bottom: 0;
              left: 0;
              background-size: cover;
              background: linear-gradient(180deg, transparent, #000);
            }
          }
        }
      }
      &:after {
        content: "";
        border: 1px solid var(--silver);
        opacity: 0.05;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 1292px;
        margin: 0 auto;
        @media screen and (max-width: 768px) {
          margin: 0 2rem;
        }
      }
    }
    #contact {
      position: relative;
      padding: 80px 0 20px;
      @media screen and (max-width: 560px) {
        padding: 40px 0 20px;
      }
      .contact-container {
        position: relative;
        display: flex;
        flex-direction: row;
        max-width: calc(1292px + 200px);
        margin: 0 auto;
        padding: 4rem;
        border-radius: 20px;
        background-color: var(--navyblue);
        @media screen and (max-width: 1280px) {
          max-width: calc(1127px + 80px);
        }
        @media screen and (max-width: 768px) {
          flex-direction: column;
          padding: 2rem;
          max-width: 95%;
        }
        .contact-left {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 50%;
          color: var(--white);
          text-align: left;
          padding-right: 30px;
          @media screen and (max-width: 768px) {
            width: 100%;
            padding-right: 0;
            text-align: center;
            margin: 20px 0;
          }
          .text-area {
            h5 {
              position: relative;
              font-weight: 600;
              line-height: 1.5;
              padding-top: 60px;
              &::before {
                content: "--------------";
                position: absolute;
                top: 0;
                left: 0;
                font-size: 24px;
                letter-spacing: 6px;
                font-weight: 400;
                color: var(--silver);
                @media screen and (max-width: 768px) {
                  transform: translate(-50%, 0);
                  left: 50%;
                }
              }
            }
            span {
              font-size: 20px;
              color: var(--silver);
              margin-right: 50px;
              @media screen and (max-width: 768px) {
                margin-right: 0;
              }
              @media screen and (max-width: 560px) {
                font-size: 16px;
              }
            }
            a {
              font-size: 18px;
              color: var(--silver);
              &:hover {
                color: var(--blue);
              }
              @media screen and (max-width: 768px) {
                font-size: 20px;
              }
              @media screen and (max-width: 560px) {
                font-size: 18px;
              }
            }
          }
          .logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            @media screen and (max-width: 768px) {
              margin-top: 30px;
              justify-content: center;
            }
            & > * {
              margin-right: 2rem;
              opacity: 0.3;
              &:last-child {
                margin-right: 0;
              }
              &:hover {
                opacity: 0.6;
              }
              img {
                max-width: 150px;
                @media screen and (max-width: 560px) {
                  max-width: 120px;
                }
              }
            }
          }
        }
        .contact-right {
          width: 50%;
          text-align: left;
          @media screen and (max-width: 768px) {
            width: 100%;
            padding-left: 0;
            margin: 45px 0 30px;
          }
          .form-area {
            padding: 2rem;
            background-color: var(--white);
            border-radius: 10px;
            width: 80%;
            margin: 0 auto;
            @media screen and (max-width: 1280px) {
              width: 100%;
            }
            form {
              margin-top: 20px;
              label {
                color: var(--silver);
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 12px;
                opacity: 0.9;
              }
              input,
              .ui.dropdown,
              textarea {
                height: 56px;
                padding: 6px 20px;
                border: solid 1px var(--grey-light);
                border-radius: 6px;
                background-color: var(--white);
                line-height: 1.5;
                transition: border-color 0.15s ease-in-out,
                  box-shadow 0.15s ease-in-out;
                font-size: 16px;
                font-weight: 600;
                &:focus {
                  border: 1px solid var(--blue);
                  color: var(--navyblue);
                  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.1);
                }
              }
              .ui.dropdown {
                display: flex;
                align-items: center;
                & > .text:not(.default) {
                  font-weight: 600;
                }
                i {
                  display: none;
                }
              }
              .fields {
                @media screen and (max-width: 768px) {
                  flex-direction: column;
                  .field {
                    width: 100%;
                    &:last-child {
                      margin-top: 1em;
                    }
                  }
                }
              }
              .form-desc {
                color: var(--silver);
                font-size: 16px;
                padding: 6px 0 16px;
              }
              .contact.button {
                background-color: var(--navyblue);
                color: var(--white);
                font-size: 16px;
                font-weight: 700;
                padding: 4px 24px;
                border-radius: 6px;
                line-height: 2.875rem;
                width: 100%;
                transition: color 0.15s ease-in-out,
                  background-color 0.15s ease-in-out,
                  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                &:hover {
                  opacity: 0.8;
                }
              }
              .ui.checkbox {
                label {
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 1.5;
                  a {
                    color: var(--color2);
                  }
                  &:after {
                    top: -1px;
                  }
                }
              }
            }
          }
        }
      }
    }
    #bottom-area {
      position: relative;
      padding: 40px 0 60px;
      @media screen and (max-width: 768px) {
        padding: 30px 0;
      }
      .landing-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 768px) {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          justify-items: center;
        }
        .bottom-left {
          text-align: left;
          font-size: 16px;
          font-weight: 500;
          color: var(--navyblue);
          order: 1;
          @media screen and (max-width: 768px) {
            text-align: center;
            font-size: 20px;
            order: 3;
          }
        }
        .bottom-center {
          order: 2;
          height: 34px;
          width: 170px;
          background-repeat: no-repeat;
          background-image: url(../img/Logo.png);
          background-size: 100% 100%;
          @media screen and (max-width: 768px) {
            padding: 10px 0;
            margin: 30px 0;
          }
        }
        .bottom-right {
          text-align: right;
          order: 3;
          @media screen and (max-width: 768px) {
            display: flex;
            justify-content: center;
            order: 1;
          }
          ul {
            display: flex;
            flex-direction: row;
            li {
              a {
                padding: 0 16px;
                @media screen and (max-width: 768px) {
                  padding: 0 8px;
                }
                i {
                  color: var(--navyblue);
                  font-size: 24px;
                }
              }
              &:last-child {
                a {
                  padding-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .ui.button {
    font-family: Ubuntu;
  }
}
