main{
    background-color: var(--white);
    color: var(--navyblue);
    &.teams{
        #headline{
            position: relative;
            padding: 180px 0 240px;
            background-color: var(--white);
            @media screen and (max-width: 1280px){
                padding: 150px 0 120px;
            }
            @media screen and (max-width: 768px){
                padding: 60px 0;
                margin-top: 100px;
            }
            @media screen and (max-width: 560px){
                padding: 30px 0;
                height: max-content;
            }
            .landing-container{
                height: 100%;
                display: flex;
                align-items: center;
                @media screen and (max-width: 768px){
                    flex-direction: column;
                }
                .headline-layout{
                    display: flex;
                    flex-direction: column;
                    .headline-content{
                        width: 80%;
                        margin: 0 auto;
                        @media screen and (max-width: 560px){
                            width: 100%;
                            padding: 0 10px;
                        }
                        p{
                            color: var(--silver);
                            line-height: 1.7;
                            font-size: 18px;
                            opacity: .8;
                            text-align: justify;
                        }
                    }
                }
                .items{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    grid-gap: 45px;
                    width: 75%;
                    margin: 60px auto 30px;
                    @media screen and (max-width: 1280px){
                        width: 90%;
                    }
                    @media screen and (max-width: 768px){
                        grid-template-columns: repeat(2,1fr);
                        grid-gap: 20px;
                        width: 90%;
                        margin: 30px auto 0;
                    }
                    @media screen and (max-width: 560px){
                        width: 95%;
                    }
                    .item{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        background-color: var(--white);
                        border-radius: 20px;
                        padding: 0 0 20px;
                        -webkit-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.03);
                        -moz-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.03);
                        box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.03);
                        img{
                            width: 100%;
                            border-radius: 20px 20px 0 0;
                            filter: grayscale(100%);
                        }
                        h5{
                            margin: 20px 0 10px;
                            @media screen and (max-width: 768px){
                                font-size: 20px;
                            }
                            @media screen and (max-width: 560px){
                                font-size: 16px;
                            }
                        }
                        span{
                            color: var(--silver);
                            @media screen and (max-width: 768px){
                                font-size: 16px;
                            }
                            @media screen and (max-width: 560px){
                                font-size: 14px;
                            }
                        }
                        .social{
                            margin-top: 10px;
                            a{
                                i{
                                    font-size: 21px;
                                }
                            }
                        }
                        &:hover{
                            img{
                                filter: none;
                            }
                        }
                    }
                }
            }
        }
    }
}