<!DOCTYPE html>
<html>
    {% include head.html %}
<body>
    <main class="AppLayout blog">
        {% include navbar.html %}
        <div class="landing-container">
            <div class="all-blog">
                <h2 class="xxs-mb">Blog</h2>
                <p>Ürünlerimizi geliştirirken kaleme aldığımız blog yazılarımız</p>
                <div class="items last-items">
                    {% for post in site.posts limit: 2 %}
                        <a href="{{ post.url }}" class="item">
                            
                            <div class="content">
                                <div class="category">{{ post.category }}</div>
                                <div class="blog-info">
                                    <h3 class="name">{{ post.title }}</h3>
                                    <div class="author">
                                        <img src="{{ post.author_image }}" alt="{{ post.author }}">
                                        <div class="author-info">
                                            <div class="author-name">{{ post.author }}</div>
                                            <div class="author-job">{{ post.author_job }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="date">{{ post.date | date_to_string }}</div>
                            </div>
                            <img src="{{ post.image }}" alt="{{ post.title }}">
                        </a>
                        
                    {% endfor %}
                </div>
                <div class="items">
                    {% for post in site.posts %}
                        {% if forloop.index > 2 %}
                            <a href="{{ post.url }}" class="item">
                                <div class="content">
                                    <div class="category">{{ post.category }}</div>
                                    <div class="blog-info">
                                        <h3 class="name">{{ post.title }}</h3>
                                        <div class="author">
                                            <img src="{{ post.author_image }}" alt="{{ post.author }}">
                                            <div class="author-info">
                                                <div class="author-name">{{ post.author }}</div>
                                                <div class="author-job">{{ post.author_job }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="date">{{ post.date | date_to_string }}</div>
                                </div>
                                <img src="{{ post.image }}" alt="{{ post.title }}">
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include footer.html %}
    </main>
    
    <!-- Script -->
    {% include script.html %}
    
    <script>
        $('nav .blog').addClass('active');
    </script>
</body>
</html>