<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    <main class="AppLayout teams">
        {% include navbar.html %}
        <section id="headline">
            <div class="landing-container">
                <div class="headline-layout">
                    <div class="headline-content">
                        <h2>Tecrübeli ve akademik ekibimiz</h2>
                        <p>Teknolojinin tüm imkânlarının kullanımı ile titiz bir şekilde gerçekleştirdiğimiz araştırma
                            ve geliştirme çalışmaları sonucunda yenilikçi, verimli, dinamik, alanında uzman ve tecrübeli
                            ekibimiz birikimlerini, bilgilerini ve üretim gücünü deneyim ile birleştirerek bütünleyici
                            ve teknolojiye ayak uyduran çözümler sunuyoruz.</p>
                    </div>
                    <div class="items">
                        <div class="item">
                            <img src="/assets/img/teams/caner.jpg" alt="Dr. Caner Özcan">
                            <h5>Doç. Dr. Caner ÖZCAN</h5>
                            <span>Kurucu, Genel Müdür</span>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/caner-özcan-0a4a04114/" target="_blank"><i
                                        class="linkedin icon"></i></a>
                                <a href="https://github.com/cnRZcn" target="_blank"><i class="github icon"></i></a>
                                <a href="https://twitter.com/cnR_Zcn" target="_blank"><i class="twitter icon"></i></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/assets/img/teams/adem.jpg" alt="Dr. Adem PEKİNCE">
                            <h5>Dr. Adem PEKİNCE</h5>
                            <span>Kurucu Ortak, Diş Radyolojisi Uzmanı</span>
                        </div>
                        <div class="item">
                            <img src="/assets/img/teams/ahmet1.jpg" alt="Ahmet KARAOĞLU">
                            <h5>Öğr. Gör. Dr. Ahmet KARAOĞLU</h5>
                            <span>Kurucu Ortak, Yazılım Geliştirici, Yapay Zeka Uzmanı</span>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/ahmet-karaoğlu-87b13838/" target="_blank"><i
                                        class="linkedin icon"></i></a>
                                <a href="https://github.com/ahmetkaraoglu" target="_blank"><i
                                        class="github icon"></i></a>
                                <a href="https://twitter.com/ahmet_kara_78" target="_blank"><i
                                        class="twitter icon"></i></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/assets/img/teams/yasin.jpg" alt="Doç. Yasin YAŞA">
                            <h5>Doç. Dr. Yasin YAŞA</h5>
                            <span>Kurucu Ortak, Diş Radyolojisi Uzmanı</span>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/yasin-yasa-a42b76147/" target="_blank"><i
                                        class="linkedin icon"></i></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/assets/img/teams/buse.jpg" alt="Buse Yaren KAZANGİRLER">
                            <h5>Buse Yaren KAZANGİRLER</h5>
                            <span>Takım Lideri, Yapay Zeka Uzmanı</span>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/buse-yaren-t-5091a5133/" target="_blank"><i
                                        class="linkedin icon"></i></a>
                                <a href="https://github.com/buseyaren" target="_blank"><i
                                        class="github icon"></i></a>
                                <a href="https://twitter.com/buseyarentekin" target="_blank"><i
                                        class="twitter icon"></i></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/assets/img/teams/betul.jpg" alt="Betül DOLAPÇI">
                            <h5>Betül DOLAPCI</h5>
                            <span>Görüntü İşleme ve Makine Öğrenmesi Uzmanı</span>
                            <div class="social">
                                <a href="https://twitter.com/BetulDlp" target="_blank"><i class="twitter icon"></i></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/assets/img/teams/dilara.jpg" alt="Dilara ÖZDEMİR">
                            <h5>Dilara ÖZDEMİR</h5>
                            <span>Yapay Zeka Uzmanı</span>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/dilaraozdemir/" target="_blank"><i
                                        class="linkedin icon"></i></a>
                                <a href="https://github.com/dilaraozdemir" target="_blank"><i class="github icon"></i></a>
                                <a href="https://twitter.com/rhaenessa" target="_blank"><i class="twitter icon"></i></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/assets/img/teams/elif.jpg" alt="Elif MEŞECİ">
                            <h5>Arş. Gör. Elif MEŞECİ</h5>
                            <span>Yapay Zeka Uzmanı</span>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/elif-meseci-63a944181/" target="_blank"><i
                                        class="linkedin icon"></i></a>
                                <a href="https://github.com/elifmeseci" target="_blank"><i class="github icon"></i></a>
                                <a href="https://twitter.com/elifmeseci" target="_blank"><i
                                        class="twitter icon"></i></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/assets/img/teams/suheda.jpg" alt="Süheda ÇİLEK">
                            <h5>Süheda AKDAĞ</h5>
                            <span>Yapay Zeka Geliştirici</span>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/suhedacilek/" target="_blank"><i
                                        class="linkedin icon"></i></a>
                                <a href="https://github.com/suhedacilek" target="_blank"><i class="github icon"></i></a>
                                <a href="https://twitter.com/suhecode" target="_blank"><i class="twitter icon"></i></a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/assets/img/teams/beyza.jpg" alt="Beyza AKYILDIZ">
                            <h5>Beyza AKYILDIZ</h5>
                            <span>Yapay Zeka Geliştirici</span>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/beyza-akyildiz/" target="_blank"><i class="linkedin icon"></i></a>
                                <a href="https://github.com/BeyzaAkyildiz" target="_blank"><i class="github icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include footer.html %}
    </main>

    <!-- Script -->
    {% include script.html %}
    <script>
        $('nav .teams').addClass('active');
    </script>
</body>

</html>
