<!DOCTYPE html>
<html>
    {% include head.html %}
<body>
    <main class="AppLayout about">
        {% include navbar.html %}
        <section id="headline">
            <div class="landing-container">
                <div class="headline-layout">
                    <div class="headline-content">
                        <h1>Hikayemiz</h1>
                        <p>Rivayet olunur ki, kuşların hükümdarı olan Simurg, bilgi ağacının dallarında yaşar ve her şeyi bilirmiş. Her uçuşa kalktığında, bilgi ağacının yaprakları titrer, tohumları insanlığa dökülerek insanoğlunun gelişimi için rehberlik edermiş. Cesaret, güç, kudret, saflık, tekamül, erdemlik, sadakat, zerafet, hakkaniyet, bereket, güven, mutluluk ve huzurun eseri Simurg-ai, Karabük Üniversitesi Teknoloji Geliştirme Bölgesi altında 2020 yılının son çeyreğinde AR-GE faaliyetlerine başlamış bulunmaktadır.</p>
                        <p>Fikri temeli yıllar öncesine dayanan ve özünde ekip çalışmasının bir ürünü olarak ortaya çıkan Simurg-ai, yazılım dünyasına yapay zeka penceresi açarak başta diş hekimliği olmak üzere farklı sektörlerdeki ihtiyaçlara hızlı, kaliteli ve sürdürülebilir çözümler üretmek amacıyla kurulmuştur. Alanında uzman akademisyen ve araştırmacı kadrosu ile yenilikçi, özgün ve katma değer yaratan bir anlayışla en iyiyi hedefleyen bir yazılım, tasarım ve danışmanlık şirketidir.</p>
                        <p>"Aslında Simurg sensin" sloganı ile yola çıkarak yerli yazılım sektörüne yapay zeka alanında önemli kazanımlar sunmayı planlamaktadır. Firma ve kurumlara özel geliştirilen yazılımlar ile fark yaratmayı ve iş ortaklarına değer katmayı hedeflemektedir. Proje danışmanlık hizmeti ile bilişim sektöründeki yapay zeka temelli fikirlerin ve girişimlerin hayata geçirilmesi düşünülmektedir.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="values">
            <div class="landing-container">
                <div class="values-left">
                    <h2 class="values-title">Şirketimizin <br>Çalışma Kültürü</h2>
                    <p>Ekip çalışması ve birlikte geliştirme inancımız, şirketimize inovatif yaklaşımlar sağlamaktadır. Karşılaştığımız problemlere sonuç odaklı, performans ve kaliteye uygun bir biçimde açık fikirli, şeffaf, esnek ve güvenilir yaklaşan şirket kültürümüz sayesinde başarıya ulaşıyoruz.</p>
                    <ul>
                        <li><i class="check icon"></i>Yaratıcılık</li>
                        <li><i class="check icon"></i>Sonuç Odaklılık</li>
                        <li><i class="check icon"></i>Performans</li>
                        <li><i class="check icon"></i>Güvenilirlik</li>
                        <li><i class="check icon"></i>Kalite</li>
                        <li><i class="check icon"></i>Mükemmellik</li>
                    </ul>
                </div>
                <div class="values-right">
                    <img src="/assets/img/about-us.jpg" alt="Our Values">
                </div>
            </div>
        </section>
        
        {% include footer.html %}
    </main>
    
    <!-- Script -->
    {% include script.html %}
    <script>
        $('nav .about-us').addClass('active');
    </script>
</body>
</html>