<!DOCTYPE html>
<html>
    {% include head.html %}
<body>
    <main class="AppLayout services">
        {% include navbar.html %}
        <section id="headline">
            <div class="landing-container">
                <div class="headline-layout">
                    <div class="headline-left">
                        <div class="headline-content">
                            <h1>Ne yapıyoruz?</h1>
                            <p>Proje üreten, geliştiren ve uygulayan bir ekip olarak güncel teknolojiler ışığında yeni projelerin müşterilerimiz ile buluşturulması için çalışmalar yapmaktayız. Farklı disiplinlerde çalışan kadromuz ile her bir problemin kendine özgü bileşenler içerdiğinin bilincinde olarak yapay zeka alanında ihtiyaca özel yazılım, tasarım, eğitim ve danışmanlık hizmetleri sunmaktayız.</p>
                        </div>
                    </div>
                    <div class="headline-right"></div>
                </div>
            </div>
        </section>
        <section id="services">
            <div class="landing-container">
                <h2 class="services-title">Hizmetlerimiz</h2>
                <span>Yazılım ve tasarım hizmeti kapsamında yapay zeka tabanlı son teknolojilere uygun araçlar kullanarak, web ve mobil platformlarda işlevsel uygulamalar sunmaktayız. Eğitim ve danışmanlık hizmetleri kapsamında ise literatürdeki en güncel teknolojileri kullanarak veri bilimi, görüntü işleme, yapay zeka, makine öğrenmesi ve derin öğrenme alanlarda akademik destek sağlamaktayız.</span>
                <div class="items">
                    <div class="services-item software">
                        <div class="services-icon"></div>
                        <div class="item-detail">
                            <h5>Yazılım ve Tasarım</h5>
                            <span>Yapay Zeka tabanlı, Web ve Mobil platformlarında Arayüz ve Uygulama Tasarımı</span>
                        </div>                    
                    </div>
                    <div class="services-item courses">
                        <div class="services-icon"></div>
                        <div class="item-detail">
                            <h5>Eğitim</h5>
                            <span>Veri Bilimi, Görüntü İşleme ve Yapay Zeka alanlarında güncel içerikler</span>
                        </div>                    
                    </div>
                    <div class="services-item consulting">
                        <div class="services-icon"></div>
                        <div class="item-detail">
                            <h5>Danışmanlık</h5>
                            <span>Problemlerinize, yapay zeka tabanlı güncel ve analitik çözümler</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include footer.html %}
    </main>
    
    <!-- Script -->
    {% include script.html %}
    <script>
        $('nav .services').addClass('active');
    </script>
</body>
</html>