<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    <main id="homepage" class="AppLayout homepage">
        {% include navbar.html %}
        <section id="headline">
            <div class="landing-container">
                <div class="headline-layout">
                    <div class="headline-left">
                        <div class="headline-content">
                            <h1>Yapay Zeka Dünyasına Açılan Pencere</h1>
                            <p>Fikrî temeli yıllar öncesine dayanan ve özünde ekip çalışmasının bir ürünü olarak ortaya çıkan SimurgAI, yazılım dünyasına yapay zeka penceresi açarak başta diş hekimliği olmak üzere farklı sektörlerdeki ihtiyaçlara hızlı, kaliteli ve sürdürülebilir çözümler üretmek amacıyla kurulmuştur.</p>
                        </div>
                    </div>
                    <div class="headline-right"></div>
                </div>
                <a href="#services" class="headline-arrow smooth-scrolling">
                    <i class="arrow down icon"></i>
                </a>
            </div>
        </section>
        <section id="services">
            <div class="landing-container">
                <div class="services-content">
                    <div class="services-left">
                        <div class="services-title">
                            <h2>Çalışmalarımız</h2>
                        </div>
                        <div class="services-item item-1 active" data-tab="software">
                            <h5>Yazılım ve Tasarım</h5>
                            <p>Yapay Zeka tabanlı, Web ve Mobil platformlarında Arayüz ve Uygulama Tasarımı</p>
                        </div>
                        <div class="services-item item-2" data-tab="studing">
                            <h5>Eğitim</h5>
                            <p>Veri Bilimi, Görüntü İşleme ve Yapay Zeka alanlarında güncel içerikler</p>
                        </div>
                        <div class="services-item item-3" data-tab="consulting">
                            <h5>Danışmanlık</h5>
                            <p>Problemlerinize, yapay zeka tabanlı güncel ve analitik çözümler</p>
                        </div>
                    </div>
                    <div class="services-right">
                        <img src="./assets/img/software-design.png" class="tab-software active">
                        <img src="./assets/img/studing.png" class="tab-studing">
                        <img src="./assets/img/consulting.png" class="tab-consulting">
                    </div>
                </div>
            </div>

        </section>
        <section id="blog-general">
            <div class="landing-container">
                <div class="blog-top">
                    <h3 class="section-title">Blog</h3>
                    <a href="/blog" class="border-button classic button">Tüm Bloglar</a>
                </div>
                <div class="blog-area">
                    {% for post in site.posts limit: 3 %}
                    <a href="{{ post.url }}" class="item">
                        <div class="content">
                            <div class="category">{{ post.category }}</div>
                            <div class="blog-info">
                                <h3 class="name">{{ post.title }}</h3>
                                <div class="author">
                                    <img src="{{ post.author_image }}" alt="{{ post.author }}">
                                    <div class="author-info">
                                        <div class="author-name">{{ post.author }}</div>
                                        <div class="author-job">{{ post.author_job }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="date">{{ post.date | date_to_string }}</div>
                        </div>
                        <img src="{{ post.image }}" alt="{{ post.title }}">
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% include footer.html %}
    </main>

    <!-- Script -->
    {% include script.html %}
    <script>
        $('nav .homepage').addClass('active');
    </script>
    <script>
        $('.services-item').click(function () {
            $('.services-item').removeClass('active');
            $('.services-right img').removeClass('active');
            var tab_id = $(this).attr('data-tab');
            $(this).addClass('active');
            $(".services-right .tab-" + tab_id).addClass('active');
        })
        for (let x = 0; x < 100; x++) {
            setTimeout(function () {
                $('.services-item').removeClass('active');
                $('.services-item.item-2').addClass('active');
                $('.services-right img').removeClass('active');
                $(".services-right .tab-studing").addClass('active');
            }, 5000);
            setTimeout(function () {
                $('.services-item').removeClass('active');
                $('.services-item.item-3').addClass('active');
                $('.services-right img').removeClass('active');
                $(".services-right .tab-consulting").addClass('active');
            }, 10000);
            setTimeout(function () {
                $('.services-item').removeClass('active');
                $('.services-item.item-1').addClass('active');
                $('.services-right img').removeClass('active');
                $(".services-right .tab-software").addClass('active');
            }, 15000);
        }
    </script>
</body>

</html>