<!DOCTYPE html>
<html>
    {% include head.html %}
<body>
    <main id="homepage" class="AppLayout homepage">
        {% include navbar.html %}
        {{ content }}
        {% include footer.html %}
    </main>
    
    <!-- Script -->
    {% include script.html %}
</body>
</html>