<!DOCTYPE html>
<html>
    {% include head.html %}
<body>
    <main class="AppLayout blog-detail">
        {% include navbar.html %}
        <div class="landing-container">
            <h2>{{ page.title }}</h2>
            <div class="blog-info">
                <div class="user-info">
                    <img src="{{ page.author_image }}" alt="{{ page.author }}">
                    <div class="author-info">
                        <div class="name">{{ page.author }}</div>
                        <div class="title">{{ page.author_job }}</div>
                    </div>
                </div>
                <div class="date-area">{{ page.date | date_to_string }} tarihinde yayınlandı</div>
            </div>
            <div class="blog-content">
                {{ content }}
                <div class="social-area">
                    <div class="ui sticky">
                        <div class="title">Paylaş</div>
                        <ul>
                            <li><a href="https://twitter.com/intent/tweet?text={{ page.title }}!&amp;hashtags={{ page.tags | join: ',' }}&amp;url={{ site.url }}{{ page.url }}&amp;via=simurgai" class="share" target="_blank" rel="nofollow noreferrer" target="_blank"><i class="twitter icon"></i></a></li>
                            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank"><i class="facebook f icon"></i></a></li>
                            <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}! #simurgai&source={{ site.url }}{{ page.url }}" target="_blank"><i class="linkedin in icon"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="blog-references">
                <ul>
                    {% for reference in page.references %}
                        <li><strong>{{ forloop.index }}</strong> {{ reference }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include footer.html %}
    </main>
    
    <!-- Script -->
    {% include script.html %}
    <script>
        $('nav .blog').addClass('active');
        $('.ui.sticky').sticky({context: '.blog-content'});
    </script>
</body>
</html>